@model ari2._0.Models.Email

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Email</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActorsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUnsuscribed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUnsuscribed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnsuscribedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnsuscribedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFailed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFailed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaliledAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaliledAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrimary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrimary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
