@model ari2._0.Models.Actor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActorTypesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActorTypesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GendersId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GendersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityCountriesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityCountriesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastSecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastSecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdayAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdayAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
